.subSelect {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  width: 50%;
}

.subSelectSmall {
  width: 90px !important;
}

.subSelectLarge {
  width: 300px !important;
}

.subSelectMedium {
  width: 200px !important;
}

.horizontalScroll {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.horizontalScroll :global(.selected-items) {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}

.horizontalScroll :global(.selected-items::-webkit-scrollbar) {
  height: 4px;
}

.horizontalScroll :global(.selected-items::-webkit-scrollbar-thumb) {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}